<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}Tobin Brown | Brobin{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    <link rel="stylesheet" href="{% static "css/grid.css" %}"/>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
</head>
<body>

    <nav>
        <div class="container">
            <div id="brand-name">
                <a href="/"><h2>Brobin</h2></a>
            </div>
            <ul class="nav-ul">
                <li><a href="/blog">Blog</a></li>
            </ul>
        </div>
    </nav>