{% spaceless %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="google-site-verification" content="0UeIbuWxCWdOcvFokfLXxuDlNDJ2vhaz_FIXU-Xg6pQ" />
    <title>Lincoln Gym Control | Brobin</title>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono" rel="stylesheet">
    {% load compress staticfiles %}
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'css/site.scss' %}"/>
    {% endcompress %}
</head>
<body>

    <style>
    .well {
        border: none;
        border-radius: 0;
        box-shadow: none;
    }
    .well > p {
        font-size: 40px;
    }
    hr {
        border-color: #eee;
    }
    </style>
        
    <div style="background-color:#eee;">
        <div class="container content" style="max-width:1200px">
                <h1>Lincoln Gym Control</h1>
        </div>
    </div>

    <div class="container content" style="max-width:1200px">
        <br/>
        <h3>All-Time</h3>
        <i>Since August 25, 2017</i>
        <hr/>
        <figure type="image/svg+xml">
            {{ chart | safe }}
        </figure>

        <br/>

        <h3>Averages</h3>
        <hr/>
        <div class="row text-center">
            <div class="col-sm-4">
                <div class="well">
                    <h5>Mystic</h5>
                    <p style="font-size:40px;">{{ mystic_avg|floatformat:2 }}</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="well" >
                    <h5>Valor</h5>
                    <p style="font-size:40px;">{{ valor_avg|floatformat:2 }}</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="well">
                    <h5>Instinct</h5>
                    <p style="font-size:40px;">{{ instinct_avg|floatformat:2 }}</p>
                </div>
            </div>
        </div>

        <br/>

        <h3>Last 3 hours</h3>
        <hr style="border-color:#eee;"/>
        <table class="table table-striped table-hover">
            <thead>
                <th>Time</th>
                <th>Mystic</th>
                <th>Valor</th>
                <th>Instinct</th>
            </thead>
            <tbody>
                {% for log in recent %}
                <tr>
                    <td>{{ log.created | date }} {{ log.created | time }}</td>
                    <td>{{ log.mystic }}</td>
                    <td>{{ log.valor }}</td>
                    <td>{{ log.instinct }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div style="background-color:#eee;">
        <div class="container content" style="max-width:1200px">
            <p>&copy; 2017 Tobin Brown</p>
        </div>
    </div>

  
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/pygal.min.js" %}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48506325-1', 'auto');
      ga('send', 'pageview');

    </script>
</body>
</html>
{% endspaceless %}