{% extends "base.html" %}

{% block title %}{{ team }} Stats{% endblock %}

{% block content %}
{% load nhl_tags %}
<div class="nhl nhl-{{ team }}">
    <h1><img src="http://cdn.nhle.com/nhl/images/logos/teams/{{ team }}_logo.svgz" style="max-height:39px;padding-right:5px;max-width:70px;"/>{{ team }} Stats</h1>

    <h3>Points Percentage</h3>
    <div id="points-pct-chart" class="chart" style="height:250px;"></div>
    <p class="note">Note: First 10 games are ommitted to start the graph once the points percentage has stabilized a bit.</p>

    <h3>Margin of Victory</h3>
    <div id="goals-chart" class="chart" style="height:250px;"></div>
    <p class="note">Note: Games without a bar ended in overtime or a shootout.</p>

    <h3>Points Leaders</h3>
    <div id="points-chart" class="chart" style="height:250px;"></div>
    <p class="note">Note: top bar is assists and bottom bar is goals.</p>

    <h3>+/- Leaders</h3>
    <div id="plus-minus-chart" class="chart" style="height:250px;"></div>

    <h3>Skaters</h3>
    <table class="table table-striped table-hover sortable">
        <thead>
            <tr>
                <th>#</th>
                <th>Player</th>
                <th>Pos</th>
                <th>GP</th>
                <th>G</th>
                <th>A</th>
                <th>P</th>
                <th>B</th>
                <th>H</th>
                <th>PIM</th>
                <th>+/-</th>
                <th>ATOI</th>
                <th>PPG</th>
                <th>PPA</th>
                <th>SOG</th>
                <th>S%</th>
            </tr>
        </thead>
        <tbody>
            {% for s in skaters %}
            <tr>
                {% with s.person.stats.0.splits.0.stat as stats %}
                <th>#{{ s.jerseyNumber }}</th>
                <th>{{ s.person.fullName }}</th>
                <td>{{ s.person.primaryPosition.abbreviation }}</td>
                <td>{{ stats.games }}</td>
                <td>{{ stats.goals }}</td>
                <td>{{ stats.assists }}</td>
                <td>{{ stats.points }}</td>
                <td>{{ stats.blocked }}</td>
                <td>{{ stats.hits }}</td>
                <td>{{ stats.penaltyMinutes }}</td>
                <td>{{ stats.plusMinus }}</td>
                <td>{{ stats.timeOnIcePerGame }}</td>
                <td>{{ stats.powerPlayGoals }}</td>
                <td>{{ stats.powerPlayPoints|sub:stats.powerPlayGoals }}</td>
                <td>{{ stats.shots }}</td>
                <td>{{ stats.goals|percent:stats.shots }}</td>
                {% endwith %}
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <h3>Goaltenders</h3>

    <table class="table table-striped table-hover sortable">
        <thead>
            <tr>
                <th>#</th>
                <th>Player</th>
                <th>GP</th>
                <th>W</th>
                <th>L</th>
                <th>OT</th>
                <th>GAA</th>
                <th>SV%</th>
                <th>SO</th>
            </tr>
        </thead>
        <tbody>
            {% for s in goalies %}
            <tr>
                {% with s.person.stats.0.splits.0.stat as stats %}
                <th>#{{ s.jerseyNumber }}</th>
                <th>{{ s.person.fullName }}</th>
                <td>{{ stats.games }}</td>
                <td>{{ stats.wins }}</td>
                <td>{{ stats.losses }}</td>
                <td>{{ stats.ot }}</td>
                <td>{{ stats.goalAgainstAverage }}</td>
                <td>{{ stats.savePercentage }}</td>
                <td>{{ stats.shutouts }}</td>
                {% endwith %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.10.1/chartist.min.js"></script>
{% load staticfiles %}
<script src="{% static 'js/chartist.plugin.tooltip.min.js' %}"></script>
<script>
new Chartist.Line('#points-pct-chart', {
    series: [{{ chart.points_pct|safe }}],
    labels: {{ chart.points_pct_labels|safe }},
},{
    plugins:[
        Chartist.plugins.tooltip({
            appendToBody: true,
            transformTooltipTextFnc: function(x) {
                return (x * 100).toFixed(2) + '%';
            }
        }),
    ],
});

new Chartist.Bar('#goals-chart', {
    series: [{{ chart.goals|safe }}],
    labels: {{ chart.goals_labels|safe }},
},{
    plugins:[
        Chartist.plugins.tooltip({
            appendToBody: true,
        }),
    ],
}).on('draw', function(context) {
    if(context.type === 'bar') {
        context.element.attr({
            style: 'stroke:' + (Chartist.getMultiValue(context.value) > 0 ? '#39b54a;': '#f05b4f;')
        });
    }
});

new Chartist.Bar('#points-chart', {
    series: [
        [{% for s in skaters %}{'meta': '{{ s.person.fullName }}', 'value': {{ s.person.stats.0.splits.0.stat.goals }}},{% endfor %}],
        [{% for s in skaters %}{'meta': '{{ s.person.fullName }}', 'value': {{ s.person.stats.0.splits.0.stat.assists }}},{% endfor %}],
    ],
    labels: [{% for s in skaters %}'#{{ s.jerseyNumber }}',{% endfor %}],
},{
    stackBars: true,
    axisY: {
        onlyInteger: true,
    },
    plugins:[
        Chartist.plugins.tooltip({
            appendToBody: true,
        }),
    ],
});

new Chartist.Bar('#plus-minus-chart', {
    series: [
        [{% for s in skaters %}{'meta': '{{ s.person.fullName }}', 'value': {{ s.person.stats.0.splits.0.stat.plusMinus }}},{% endfor %}],
    ],
    labels: [{% for s in skaters %}'#{{ s.jerseyNumber }}',{% endfor %}],
},{
    stackBars: true,
    axisY: {
        onlyInteger: true,
    },
    plugins:[
        Chartist.plugins.tooltip({
            appendToBody: true,
        }),
    ],
}).on('draw', function(context) {
    if(context.type === 'bar') {
        context.element.attr({
            style: 'stroke:' + (Chartist.getMultiValue(context.value) > 0 ? '#39b54a;': '#f05b4f;')
        });
    }
});
</script>
{% endblock %}