{% extends "base.html" %}

{% block title %}Fishing{% endblock %}

{% block content %}

{% load fishing %}
<h2 class="text-center">{{ year.year }} Brown Family Fishing Trip</h2>
{% fishing_year_buttons %}

<div class="row">
    <div class="col-sm-12">
        <figure type="image/svg+xml">
            {{ bar | safe }}
        </figure>
        <div class="chart-caption">
            <span><b>Figure 1.1</b>: Total fish caugh each day.</span>
        </div>
    </div>
    <div class="col-sm-12">
        <figure type="image/svg+xml">
            {{ punchcard | safe }}
        </figure>
        <div class="chart-caption">
            <span><b>Figure 1.2</b>: Frequency of fish caught each year on each day</span>
        </div>
    </div>
    <div class="col-sm-12">
        <figure type="image/svg+xml">
            {{ scatter | safe }}
        </figure>
        <div class="chart-caption">
            <span><b>Figure 2.1</b>: Weight / Length of every large fish.</span>
        </div>
    </div>
</div>

{% endblock %}