{% extends "base.html" %}

{% block title %}{{ year.year }} Fishing{% endblock %}

{% block content %}

{% load fishing %}
<h2 class="text-center">{{ year.year }} Brown Family Fishing Trip</h2>
{% fishing_year_buttons %}

{% load staticfiles %}
<div class="row">
    <div class="col-sm-12">
        <figure type="image/svg+xml">
            {{ pie | safe }}
        </figure>
        <div class="chart-caption">
            <span><b>Figure 1.1</b>: Pie chart of species of fish caught all week.</span>
        </div>
    </div>
    <div class="col-sm-12">
        <figure type="image/svg+xml">
            {{ bar | safe }}
        </figure>
        <div class="chart-caption">
            <span><b>Figure 1.1</b>: Total fish caught each day. Each color represents a different species of fish.</span>
        </div>
    </div>
    <div class="col-sm-12">
        <figure type="image/svg+xml">
            {{ punchcard | safe }}
        </figure>
        <div class="chart-caption">
            <span><b>Figure 1.1</b>: Species of fish caught all week.</span>
        </div>
    </div>
    <div class="col-sm-12">
        <figure type="image/svg+xml">
            {{ scatter | safe }}
        </figure>
        <div class="chart-caption">
            <span><b>Figure 2.1</b>: Length and Weight of the largest fish caught all week. Each species followed a rough line that represents the length/weight ratio for that species.</span>
        </div>
    </div>
</div>

{% endblock %}