
pre {
  background-color: #222222;
  padding: 20px !important;
  margin: 10px;
  color: #cccccc;
}
pre code {
  font-family: 'Source Code Pro', Monaco, Consolas, "Lucida Console", monospace;
}
pre .pln {
  color: #cccccc;
}
pre .str {
  color: #F9D423;
}
pre .kwd {
  color: #FC913A;
}
pre .com {
  color: #555555;
}
pre .typ {
  color: #7D8991;
}
pre .lit {
  color: #F9D423;
}
pre .pun,
pre .opn,
pre .clo {
  color: #cccccc;
}
pre .tag {
  color: #FC913A;
}
pre .atn {
  color: #7D8991;
}
pre .atv {
  color: #F9D423;
}
pre .dec,
pre .var {
  color: #F9D423;
}
pre .fun {
  color: #FC913A;
}