html {
    position: relative;
    min-height: 100%;
}

.container {
    max-width: 800px;
}

img {
    max-width: 100%;
}

.footer-primary {
    background-color: #042029;
    padding-bottom: 10px;
}

.footer-secondary {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #020E12;
}

.navbar-default {
    background-color: #042029;
}