html {
    position: relative;
    min-height: 100%;
}
.container {
    max-width: 900px;
}
footer {
    margin-top:10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #042029;
}
img {
    max-width: 100%;
}