html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Droid Sans", sans-serif;
}
pre, code {
    font-family: "Droid Sans Mono", monospace;
}

html {
    position: relative;
    min-height: 100%;
}

.container {
    max-width: 800px;
}

img {
    max-width: 100%;
}

.footer-primary {
    background-color: #042029;
    padding-bottom: 10px;
}

.footer-secondary {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #020E12;
}

.navbar-default {
    background-color: #042029;
}

.badge {
    border-radius: 50%;
}

.content {
    font-size: 12pt;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #91a0a2;
    color: #020E12;
}

.badge {
    color: #042029;
}

code {
    background-color: #042029;
}
pre {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}
p {
    margin: 15px 0 15px 0;
}
#social-links > a:hover {
    text-decoration: none;
}

/** Fish graph styles **/
.chart-caption {
    margin-bottom: 50px;
}
.background {
    fill: #042029 !important;
}
text {
    font-family:'Droid Sans', sans-serif !important;
    font-size: 10pt !important;
}