@import "http://fonts.googleapis.com/css?family=Roboto";
.progress {
    overflow: hidden;
    height: 21px;
    margin-bottom: 21px;
    background-color: #cccccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    height: 8px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.progress-bar, .progress-bar-green, .progress-bar-purple, .progress-bar-orange, .progress-bar-red {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 13px;
    line-height: 21px;
    color: #ffffff;
    text-align: center;
    background-color: #2780e3;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    font-size: 8px;
    line-height: 8px;
}
.progress-bar-green {
    background-color: #3fb618;
}
.progress-bar-purple {
    background-color: #9954bb;
}
.progress-bar-orange {
    background-color: #ff7518;
}
.progress-bar-red {
    background-color: #ff0039;
}
#brand-name {
    float: left;
}
nav {
    background: #333;
    color: #B8B8B8;
    box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.03);
    float: left;
    position: relative;
    top: 0;
    z-index: 999;
    width: 100%}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav a {
    color: inherit;
}
nav a:hover {
    text-decoration: none;
    color: white;
}
.nav-ul {
    background: 0 0;
    border: 0;
    box-shadow: none;
    display: block;
    float: right;
    position: relative;
    top: 0;
}
.nav-ul li {
    float: left;
    padding: 25px 0;
    width: auto;
}
.nav-ul li a {
    border-bottom: 0;
    font-size: 12pt;
    padding: 0 0 0 25px;
    width: auto;
}
.footer, .footer-primary, .footer-secondary {
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    float: left;
    padding: 15px 0;
    position: relative;
    width: 100%;
    z-index: 99;
}
.footer a, .footer-primary a, .footer-secondary a {
    color: inherit;
    text-decoration: none;
}
.footer-primary {
    color: #B8B8B8;
    background: #222;
}
.footer-primary a:hover {
    color: #D6D6D6;
}
.footer-secondary {
    color: #888;
    background: #111;
    text-align: center;
    min-height: 80px;
}
body, html {
    color: #444;
    height: 100%;
    padding: 0;
    font-family: "Roboto";
    margin: 0;
    -webkit-font-smoothing: antialiased;
}
li {
    font-size: 15px;
    line-height: 1.5;
}
ol, ul {
    margin: 0 0 10px 20px;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin-top: .5em;
    margin-bottom: .5em;
    line-height: 1.2em;
}
h1 {
    font-size: 225%}
h2 {
    font-size: 200%}
h3 {
    font-size: 175%}
h4 {
    font-size: 110%;
    margin-top: 25px;
}
h5 {
    font-size: 125%}
h6 {
    font-size: 100%}
img {
    max-width: 100%}
a {
    text-decoration: none;
    color: #36648B;
}
a:hover {
    text-decoration: underline;
}
.text-center {
    text-align: center;
}
@media only screen and (max-width: 768px) {
    .mobile-hidden, .google-map {
    display: none;
}
}.headline {
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
}
.content {
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 99;
    margin-top: 15px;
    margin-bottom: 15px;
}
hr {
    border: none;
    height: 1px;
    background-color: #777; /* Modern Browsers */
}


pre {
  background-color: #222222;
  padding: 20px !important;
  margin: 10px;
  color: #cccccc;
}
pre code {
  font-family: 'Source Code Pro', Monaco, Consolas, "Lucida Console", monospace;
}
pre .pln {
  color: #cccccc;
}
pre .str {
  color: #F9D423;
}
pre .kwd {
  color: #FC913A;
}
pre .com {
  color: #555555;
}
pre .typ {
  color: #7D8991;
}
pre .lit {
  color: #F9D423;
}
pre .pun,
pre .opn,
pre .clo {
  color: #cccccc;
}
pre .tag {
  color: #FC913A;
}
pre .atn {
  color: #7D8991;
}
pre .atv {
  color: #F9D423;
}
pre .dec,
pre .var {
  color: #F9D423;
}
pre .fun {
  color: #FC913A;
}