.chartist-tooltip {
  position: absolute;
  display: block;
  opacity: 0;
  min-width: 5em;
  padding: .5em;
  background: #444;
  color: #eee;
  font-family: Lato,sans-serif;
  font-weight: 700;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
  p {
    margin: 0;
  }
}
.chartist-tooltip:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top-color: #444; }
.chartist-tooltip.tooltip-show {
    opacity: 1;
}
.ct-area, .ct-line {
  pointer-events: none;
}
.chartist-tooltip-meta {
    white-space: pre-wrap;
}
.ct-bar {
  stroke-width: 4%;
}
#goals-chart {
  .ct-bar {
    stroke-width: 1.21%;
  }
}
.sortable {
  thead {
    tr {
      th {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

p.note {
  font-size: 9pt;
  margin: 0;
  margin-left: 30px;
  font-style: italic;
  color: #888;
}

.nhl {
  h3 {
    border-top: 1px solid #eee;
    padding-top: 20px;
  }
}

$nhl: (
  ANA: (#010101, #85714d, #a2aaad, #fc4c02),
  ARI: (#010101, #862633, #ddcba4),
  BOS: (#010101, #ffb81c),
  BUF: (#041e42, #a2aaad, #ffb81c, #c8102e),
  CGY: (#c8102e, #f1be48, #010101),
  CAR: (#010101, #c8102e, #a2aaad),
  CHI: (#010101, #c8102e, #00843d, #cc8a00, #ff671f, #ffd100, #001871),
  COL: (#236192, #6f263d, #a4a9ad, #010101),
  CBJ: (#041e42, #a4a9ad, #c8102e),
  DAL: (#010101, #006341, #8a8d8f),
  DET: (#010101, #c8102e),
  EDM: (#00205b, #cf4520),
  FLA: (#041e42, #c8102e, #b9975b),
  LAK: (#010101, #a2aaad),
  MIN: (#154734, #a6192e, #ddcba4, #eaaa00),
  MTL: (#001e62, #a6192e),
  NSH: (#041e42, #ffb81c),
  NJD: (#010101, #c8102e),
  NYI: (#003087, #fc4c02),
  NYR: (#0033a0, #c8102e),
  OTT: (#010101, #c8102e, #c69214),
  PHI: (#010101, #fa4616),
  PIT: (#010101, #ffb81c),
  SJS: (#010101, #006272, #e57200),
  STL: (#041e42, #003087, #ffb81c),
  TBL: (#010101, #00205b),
  TOR: (#010101, #00205b),
  VAN: (#00205b, #97999b, #041c2c),
  VGK: (#010101, #b4975a, #333f42),
  WSH: (#041e42, #a6192e, #53565a),
  WPG: (#041e42, #c8102e)
);

@each $team, $colors in $nhl {
  .nhl-#{$team} {
    .chart {
      .ct-series-a {
        .ct-line, .ct-point {
          stroke: nth($colors, 1);
        }
      }
      .ct-series-b {
        .ct-line, .ct-point {
          stroke: nth($colors, 2);
        }
      }
      @for $i from 1 through length($colors) {
        .ct-series:nth-of-type(#{length($colors)}n+#{$i}) .ct-bar {
            stroke: nth($colors, $i);
        }
      }
    }
  }
}
