{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block content %}

{% if search %}
<h2>Seach Results for "{{search}}"</h2>
{% endif %}

{% for post in posts %}
    <div class="post">
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <span>{{ post.created  }}</span>
        <p>{{ post.preview | safe }}</p>
    </div>
{% endfor %}
<br>
<center>
    <ul class="pagination">
        {% if posts.has_previous %}
            <li><a href="?page={{posts.previous_page_number}}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><a href="">&laquo;</a></li>
        {% endif %}

        {% for i in posts.paginator.page_range %}
            <li {% if posts.number == i %} class="active" {% endif %}>
                <a href="?page={{i}}{% if search %}&q={{search}}{% endif %}">{{i}}</a>
            </li>
        {% endfor %}

        {% if posts.has_next %}
            <li><a href="?page={{posts.next_page_number}}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><a href="#">&raquo;</a></li>
        {% endif %}
    </ul>
</center>

{% endblock %}