{% extends 'base.html' %}

{% block title %}NHL Teams{% endblock %}

{% block content %}
<p>Click on a team to view stats and graphs!</p>
{% for division in divisions %}
<div class="row nhl">
    <div class="col-sm-12">
        <h3>{{ division.division.name }} Division</h3>
    </div>
    <div class="col-sm-6">
        <table class="table table-hover table-striped sortable">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>GP</th>
                    <th>W</th>
                    <th>L</th>
                    <th>OT</th>
                    <th>P</th>
                    <th>Streak</th>
                </tr>
            </thead>
            <tbody>
                {% for team in division.teamRecords %}
                
                <tr {% if forloop.counter <= 3 %}class="success"{% endif %}>
                    <th><a href="{% url 'nhl-team' team=team.team.abbreviation %}"><img src="http://cdn.nhle.com/nhl/images/logos/teams/{{ team.team.abbreviation }}_logo.svgz" style="max-height:20px;padding-right:5px;max-width:35px;"/> {{ team.team.abbreviation }}</a></th>
                    <td>{{ team.gamesPlayed }}</td>
                    <td>{{ team.leagueRecord.wins }}</td>
                    <td>{{ team.leagueRecord.losses }}</td>
                    <td>{{ team.leagueRecord.ot }}</td>
                    <td>{{ team.points }}</td>
                    <td>{{ team.streak.streakCode }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <div id="points-pie-{{ division.division.name }}" class="chart" style="height:300px;margin-top:30px;"></div>

    </div>
</div>
{% endfor %}
</div>
{% endblock %}


{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.10.1/chartist.min.js"></script>
{% load staticfiles %}
<script src="{% static 'js/chartist.plugin.tooltip.min.js' %}"></script>
<script>
{% for division in divisions %}
new Chartist.Pie('#points-pie-{{ division.division.name }}', {
    series: [{% for t in division.teamRecords %}{'value': {{ t.points }}, 'className': 'bar-nhl-{{ t.team.abbreviation}}'},{% endfor %}],
    labels: [{% for t in division.teamRecords %}'{{ t.team.abbreviation }}',{% endfor %}],
},{
    plugins:[
        Chartist.plugins.tooltip({
            appendToBody: true,
        }),
    ],
});
{% endfor %}
</script>
{% endblock %}
